#font-c{
    color: blue;
}
#logo-name{
    border: 1px solid rgb(88, 88, 223);
    background-color:rgb(88, 88, 223) ;
    padding: 10px;
    border-radius: 5px;
    color: aliceblue;
}

.navbarSerial{
    float: left;

}
.card-m{
    margin-bottom: 15px;
}